.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .contentgauche {
    min-height: 100vh;
    width: 25%;
    background-color: black;

  }

  .buttontweet {
        width: 6vw;
        height: 4vh;
        padding: 6px;
        border-radius: 20px;
        color: #ffffff;
        background-color: #1161F5;
        font-size: 12px;
       margin-left: 1vw;
       margin-top: 1vh;
       font-size: 17px;
  }

.compteur {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 43.5vw;
    
}




  .contentmilieu {
    min-height: 100vh;
    width: 50%;
    background-color: black;
    color: white;
    border-right: solid 0.1vw rgb(149, 148, 148);
    border-left: solid 0.1vw rgb(149, 148, 148);
    
    
  }
  
  .contentdroit {
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    background-color: black;
    min-height: 100vh;
    width: 25%;
    color: white;
  }
  
  
  .logo {
    height: 8vh;
    padding-top: 3vh;
  }

  .home {
    border-bottom: solid 0.1vw rgb(149, 148, 148);
    padding-bottom: 2vh;
    padding-left: 1vw;
  }

  .whatsup {
    padding-left: 4vh;
  }

  .hashtaginput {
    width: 40vw;
    height: 5vh;
    color:rgb(149, 148, 148);
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
  }

  #comment {
    background-color: transparent;
  }

  .hashtrend {
    width: 20vw;
    color:rgb(247, 243, 243);
    border-radius: 3px;
    background-color: rgba(35, 35, 35, 0.866);
    border: solid 0.1vw rgb(149, 148, 148);
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  

  
