.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .contentgauche {
    min-height: 100vh;
    width: 25%;
    background-color: black;

  }

  .buttontweet {
        width: 8vw;
        padding: 6px;
        border-radius: 20px;
        color: #ffffff;
        background-color: #1161F5;
        font-size: 12px;
      
  }

.compteur {
    display: flex;
    flex-direction: row;
}


  .contentmilieu {
    min-height: 100vh;
    width: 50%;
    background-color: black;
    color: white;
    border-right: solid 0.1vw rgb(149, 148, 148);
    border-left: solid 0.1vw rgb(149, 148, 148);
    
    
  }
  
  .contentdroit {
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    background-color: black;
    min-height: 100vh;
    width: 25%;
    color: white;
  }
  
  
  .logo {
    height: 8vh;
    padding-top: 3vh;
  }

  .home {
    border-bottom: solid 0.1vw rgb(149, 148, 148);
    padding-bottom: 2vh;
    padding-left: 1vw;
  }

  .whatsup {
    padding-left: 4vh;
  }

  .whatsupinput {
    width: 40vw;
    color:rgb(149, 148, 148);
    background-color: black;
    border-bottom: solid 0.1vw rgb(149, 148, 148);
  }
  

  
